/*
MEDIA QUERRY MANAGER
600px Phone only
900px Tablet Portrait
1200px Tablet Landscape
1440x 900 Desktop
1800px Big Desktop


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/****************************************ROOT SECTION***************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; /*1.8*/

}

/****************************************HEADER SECTION***************************************/


.header{
    background-color: rgb(238, 231, 231);/*rgb(227, 253, 227);*/
    height: 100vh;/*95vh;*/
    background-image:url(images/freepik-background.jpg);
    background-size: cover;

    /*https://www.freepik.com/free-vector/abstract-violet-pixel-rain-background_6091932.htm
    <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a>*/
    
}

.navbar{
    font-size: 1.5rem;
    padding: 0 10% 0 2%;
    
}

@media only screen and (max-width: 600px){
    .header{height: 100vh;
            background-image:linear-gradient(to right bottom, rgba(1, 161, 235, 0.87), rgba(237, 171, 50, 0.096)),url(images/Rbslopezphotography--1.JPG);
            background-size:contain;
            background-position:50% 100%;
            background-repeat: no-repeat;
            
        }

    .navbar{
        padding: 2%;
    }
}

.navbar-brand{
    font-size:2.5rem;
    cursor:pointer;
}


.nav-item{
    padding: 3%;
}
@media only screen and (max-width: 600px){
    .nav-item{
        padding: 1%;
    }
}

.nav-link{
    cursor:pointer;
}



/*DIV LOGO CONTAINTER*/
.logo-image{
    background-color: rgba(241, 24, 24, 0.342);
    box-shadow: -2px 0 5px 2px black, 0px 0 8px 2px #fff;
    border-radius: 50%;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    
    animation: logoMove 10s infinite;
    
}

@keyframes logoMove {
    5%{ background-color: rgba(1, 161, 235, 0.781);
        
    }
    
    35% {/*background-color: rgb(1, 1, 77);*/
        background-color: rgba(209, 43, 43, 0.616);
    
    }


    50% {
      /*  background-color: rgb(1, 161, 235);*/
        background-color: rgba(218, 233, 5, 0.836);
        
    }



    70% {
        background-color: rgba(235, 1, 1, 0.664);
    }
    
    100% {
       /* background-color: rgb(49, 115, 238);*/
        background-color: rgba(24, 241, 42, 0.589);
    }

  }

img{
    
    height: 12rem;
    width:12rem;
    
}

@media only screen and (max-width: 600px){
    .logo-image{
       
        top:20%;
       
       
    }

    img{
    
        height: 10rem;
        width:10rem;
        z-index:-1;
    }

    .navbar-brand{
        font-size:1.8rem;
    }
    
}

/*DIV HEADING*/

/*
.heading-container{
    background-color: rgb(49, 115, 238);
    clip-path: polygon(0% 35%, 90% -3%, 100% 68%, 18% 100%);
    height: 100vh;/*92.7vh;*/
   /* animation:containerMove 15s infinite;
  
}*/
/*
.heading-container{
    background-color: rgba(1, 180, 235, 0.301);
    height: 70%;
    width: 60%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%,-50%);
    
}


@keyframes containerMove {
    
    15% {clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 63%);
        background-color: rgba(1, 1, 77, 0.466);
       
    }


    50% {clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 63%);
        background-color: rgba(1, 161, 235, 0.849);


        
        
    }

    65% {
        /*clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 63%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(43% 1%, 92% 0, 64% 100%, 14% 100%);
        
        background-color: rgba(233, 5, 165, 0.836);
      
    }
    
    100% {clip-path:polygon(0% 35%, 90% -3%, 100% 68%, 18% 100%);
        background-color: rgb(49, 115, 238);
       
    
    }

  }
  */

 

  @media only screen and (max-width: 600px){
    .heading-container{
        /*background-color: rgb(49, 115, 238);*/
        background-image: url(images/freepik-background.jpg);
        background-size: cover;
        background-position:center;
        /*<a href='https://www.freepik.com/vectors/logo'>Logo vector created by freepik - www.freepik.com</a>*/
            
      /*  clip-path: polygon(0% 35%, 90% -3%, 100% 68%, 18% 100%);*/
        height: 92.7vh;
        animation:none;
      
    }

   }

.heading{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
   
}


h1{
    display: inline-block;
    color: white;
   width:100%;
}
.heading__span--1{
    
    font-size: 3rem;
    letter-spacing: .1rem;
}
.heading__span--2{
  /* border-bottom: .5rem dotted rgb(255, 0, 119);*/
    font-size: 7rem;
    text-shadow: -2px 5px 5px  red, -3px 5px 5px black;
   /* line-height: .2rem;*/
    letter-spacing: .3rem;
    /*animation:borderMove 3s infinite;*/
    
}

/*
@keyframes borderMove {
   
    20%{
        border-bottom: 1rem dotted rgb(1, 1, 77);}
    

    50% {
        border-bottom: 1rem dotted rgb(226, 10, 10);
       
    }

    60%{
        border-bottom: 1rem dotted rgb(5, 1, 1);
    }

   }*/

.heading__span--3{
    font-size: 2.8rem;
}

.button{
    position: absolute;
    top:65%;
    left: 50%;
    transform:translate(-50%, -50%);
   
   
}

.btn{
    font-size: 1.9rem;    

}

/*Media Querries*/
@media only screen and (max-width: 600px){
    .heading-container{
        clip-path: polygon(0 0, 100% 0, 100% 67%, 0 78%);
        
    
    }

    .heading{
        position: absolute;
        top:38%;
        left:50%;
     
        width: 80%;
        text-align:center;
    }

   
    h1{
        display:inline-block;
    }
    
    .heading__span--1{
    
        font-size: 1.5rem;
    }

    .heading__span--2{
       /* border-bottom: .5rem dotted rgb(255, 0, 119);*/
        text-shadow: -2px 5px 5px  red, -3px 5px 5px black;
        font-size: 2rem;
        letter-spacing:.1rem;
        
    }
    
    .heading__span--3{
    font-size: 1.5rem;
    }

    .button{
        
        top:50%;
        left: 50%;
        transform:translate(-50%, -50%);
       
        
    }

    .btn{
        font-size:1.5rem;
    }
    
}

/****************************************ABOUT SECTION***************************************/
.about{
    background-color: rgb(245, 247, 248);
    height: 125vh;
    position: relative;
    text-align:center;
    
}

h2{
   /* background-color:red;*/
    margin:0 3rem 1rem 3rem;
    font-size:3rem;
    padding-top: 7rem;
    font-size: 5rem;
}

.about__img{
   /* background-color:green;*/
    display:inline-block;
  
    
}

.about__img--pic{
    margin-top: 1rem;
    border: 1px solid black;
    border-radius:50%;
    height: 20rem;
    width: 20rem;
}

.para{
   /* background-color: yellow;*/
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width:50%;
    margin-top: 12rem;
    font-size: 2rem;
    text-align:center;
}

@media only screen and (max-width: 600px){

    .about{

        height: 135vh;  
    }

    .about__img--pic{
        height: 15rem;
        width: 15rem;
      
    }
    
    .para{  font-size: 1.5rem;
        width:80%;
        margin-top:12rem;
        
    }
}

/****************************************PORTFOLIO SECTION***************************************/
.portfolio{
    background-color:rgb(14, 4, 4);
    height: 420vh;
    text-align:center;
    
}

@media only screen and (max-width: 600px){
    .portfolio{
        
        height: 850vh;
        
        
    }
}



.portfolio__heading{
    text-shadow: -2px 5px 5px  rgb(202, 18, 18), -3px 5px 5px rgb(28, 16, 199);
    color:#fff;
        font-size: 5rem;
}

.cms{
    height: 20vh;
    width: 50%;
    display: inline-block;
    text-align: center;
    
    padding: 1rem;
    
   
}

@media only screen and (max-width: 600px){
    .cms{
        width:100%;
    
    }
}

.cms__wordpress{
    font-size: 5rem;
    background-color:rgb(101, 247, 247);
    padding-top: 1rem;
    box-shadow: 0 0 5px rgb(211, 185, 185);
   
   
}

@media only screen and (max-width: 600px){
    .cms__wordpress{
        font-size: 3rem;
    }
}

.cms__wix{
    font-size: 5rem;
    background-color:rgb(227, 227, 233);
    padding-top: 1rem;
    box-shadow: 0 0 5px rgb(211, 185, 185);
   
    
}

@media only screen and (max-width: 600px){
  .cms__wix{
        font-size: 3rem;
    }
}

.content__cms{
    background-image:linear-gradient(to right bottom, rgba(1, 161, 235, 0.87), rgba(237, 171, 50, 0.096));
    padding: 2rem;
    margin:5px;
    width: 100%;
    border-radius: 2%;
   /* border: .2rem solid black;*/
    box-shadow: 0 0 5px rgb(122, 117, 117);
}


@media only screen and (max-width: 600px){
    .content__cms{
        border-radius: 0;
    }
}

.content__rwd{
    background-image:linear-gradient(to left bottom, rgba(96, 12, 129, 0.986), rgba(145, 112, 51, 0.952));
    padding: 2rem;
    margin:5px;
    width: 100%;
    border-radius: 2%;
    /*border: .2rem solid black;*/
    box-shadow: 0 0 5px black;
}


@media only screen and (max-width: 600px){
    .content__rwd{
        border-radius: 0;
    }
}

.content__vanillaJs{
    background-image:linear-gradient(to left top, rgba(59, 129, 12, 0.986), rgba(233, 217, 231, 0.952));
    padding: 2rem;
    
    width: 100%;
    border-radius: 1%;
   /* border: .2rem solid black;*/
    box-shadow: 0 0 5px black;
}


@media only screen and (max-width: 600px){
    .content__vanillaJs{
        border-radius: 0;
    }
}

.content__wayback{
    background-image:linear-gradient(to left top, rgba(14, 11, 61, 0.986), rgba(199, 32, 177, 0.952));
    padding: 2rem;
    width: 100%;
    border-radius: 1%;
    box-shadow: 0 0 5px black;
    
}

/*
.cms__wordpress{
    background-color:#fff;
    height: 20vh;
    width:10%;
    margin: 2rem auto;
    border-radius:5%;
    padding-top: 1.6rem;
    font-size: 8rem;
}
.cms__wix{
    background-color:#fff;
    height: 20vh;
    width:10%;
    margin: 2rem auto;
    border-radius:50%;
    padding-top: 1.6rem;
    font-size: 8rem;
}*/


h3{
    font-size: 3rem;
    text-shadow: -2px 0px 2px  rgb(202, 18, 18), -3px 5px 5px rgb(199, 16, 16);
    color:#fff;
}


.portfolio__link{
    text-decoration: none;
    height: 100%;
    width: 100%;
    
}
/*

.box{
    height:100vh;
    background-color:red;
   margin:0 auto;
    
}*/

.box__img{
    display: inline-block;
    padding: .8rem;
    margin-top: 2rem;
    height: 30rem;
    width:30rem;
   /* border: .2rem solid black;*/
    box-shadow: 0 0 1px #777;
    border-radius: .2rem;
    /*box-shadow: 0 8px 15px rgb(179, 88, 88);*/
   /* transform: translate(0, .8rem );*/
    transition: all .3s;
    background-image:linear-gradient(120deg, #fff 0% ,#fff 50%,  rgb(199, 16, 16) 50%);
    background-size: 400%;
}

.box__img:hover{
    background-position: 100%;
    box-shadow: 0 0 12px rgb(179, 88, 88); /*0 8 15  */
    transform: translate(0, -10px );
    
}



.box__img2--2{
    display:none;
    height: 0;
    width:0;
}

@media only screen and (max-width: 600px){
    .box__img{
        margin-bottom: .5rem;
        height: 20rem;
        width:30rem;
        border-radius:.5rem;
       
       
    }

    .box__img2--1{
        display:none;
        height:0;
        width: 0;
       
    }
    .box__img2--2{
        display: inline-block;
        height: 20rem;
        width: 30rem;
    
    }
   

}

/*
.box--1{
    
    background-color:green;
    height: 27rem;
    width: 27rem;
}

.box--2{
    background-color:blue;
    height: 27rem;
    width: 27rem;
}

.box--3{
    background-color:red;
    height: 27rem;
    width: 27rem;
}*/
/****************************************FOOTER SECTION***************************************/
.services{
    background-color: rgb(245, 247, 248);
    height: 125vh;
    position: relative;
    text-align:center;
}


/****************************************FOOTER SECTION***************************************/
footer{
    background-color: rgb(15, 13, 13);
    color:white;
    height: 30vh;
    text-align:center;
    padding-top: 6rem;
}

@media only screen and (max-width: 600px){
    footer{
        height: 40vh;
    }
}


.footer{
    display: inline-block;
    width: 100%;
}



.footer__list{
    padding: 0;
}
.footer__link{
   height: 100%;
   width:100%;
    
    
}


.footer__list-item {
    list-style-type: none;
   display: inline-block;
  /* background-color: red;*/
    width:5%;
    
    padding: 8px; 
}


@media only screen and (max-width: 600px){
    .footer__list-item{
       width: 10%;
    }
}

.img-icon{
    height: 3rem;
    width: 3rem;
}

@media only screen and (max-width: 600px){
    .img-icon{
        height: 2.5rem;
        width: 2.5rem;
    }
}