/*
MEDIA QUERRY MANAGER
600px Phone only
900px Tablet Portrait
1200px Tablet Landscape
1440x 900 Desktop
1800px Big Desktop


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/****************************************ROOT SECTION***************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Montserrat', sans-serif;
    
    font-size: 1.5rem; /*1.8*/
    font-family: 'Yeon Sung', cursive;

}

/****************************************HEADER SECTION***************************************/


.header{
  
    height: 100vh;/*95vh;*/
    background-image: linear-gradient(to right bottom, rgba(14, 4, 4, 0.452),/*rgba(6, 7, 14, 0.733),*/
     rgba(14, 4, 2, 0.849)), 
     url(images/rod-sidhaya.jpg); 
    background-size: cover;
    background-position: top;

    /*https://www.freepik.com/free-vector/abstract-violet-pixel-rain-background_6091932.htm
    <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a>*/
    
}

.navbar{
    font-size: 1.5rem;
    padding: 12px 5% 10px 2%;
 
    
    
}

@media only screen and (max-width: 600px){
    .header{height: 100vh;
            /* background-image:linear-gradient(to right bottom, rgba(1, 161, 235, 0.87), rgba(237, 171, 50, 0.096)),url(images/Rbslopezphotography--1.JPG); */
            
            background-size:contain;
            background-position:50% 100%;
            background-repeat: no-repeat;
            
        }

    .navbar{
        padding: 2%;
    }
}

.navbar-brand{
    font-size:2.5rem;
    cursor:pointer;
}


.nav-item{
    padding: 2%;
}



@media only screen and (max-width: 600px){
    .nav-item{
        padding: 1%;
    }
}

.nav-link{
    cursor:pointer;
}



/*DIV LOGO CONTAINTER*/
.logo-image{
    background-color: rgb(231, 221, 233);
    box-shadow: -2px 0 5px 2px black, 0px 0 8px 2px #fff;
    border-radius: 50%;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
}
 
img{
    
    height: 12rem;
    width:12rem;
    
}

@media only screen and (max-width: 600px){
    .logo-image{
       
        top:45%;
       
       
    }

    img{
    
        height: 10rem;
        width:10rem;
        z-index:-1;
    }

    .navbar-brand{
        font-size:1.8rem;
    }
    
}


 

  @media only screen and (max-width: 600px){
    .heading-container{
       
       
        background-image: linear-gradient(to right bottom, rgba(14, 4, 4, 0.452),
        rgba(14, 4, 2, 0.849)), 
        url(images/RBSL-Vocals.jpg);
        background-size: cover;
        background-position:center;
       
            
        height: 130vh;
        animation:none;
        
      
            
        
        }
    

   }

.heading{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



h1{
    display: inline-block;
    color: white;
   width:100%;
}
.heading__span--1{
    
    font-size: 2.5rem;
    letter-spacing: .1rem;
}
.heading__span--2{
 
    font-size: 7rem;
    text-shadow: -2px 5px 5px  red, -3px 5px 5px black;
  
    letter-spacing: .3rem;
  
    display: inline-block;
    animation: all .5s;
    transition: all .5s;
    
}

.heading__span--2:hover{
    
    transform:translate(0, -2rem) rotateZ(-4deg);
    cursor: pointer;
}





.txt-type{
    font-size: 2.5rem;
}

.txt-type > .txt{
    
    color:#fff;
    border-right: .2rem solid #fff;
}

@media only screen and (max-width: 600px){
    .txt-type > .txt{
        font-size: 1rem;
    }
    
}

.button{
    position: absolute;
    top:65%;
    left: 50%;
    transform:translate(-50%, -50%);
   
   
}

.btn{
    font-size: 1.9rem;    

}

/*Media Querries*/
@media only screen and (max-width: 600px){
    .heading{
        position: absolute;
        top:60%;
        left:50%;
     
        width: 90%;
        text-align:center;
    }

   
    h1{
        display:inline-block;
    }
    
    .heading__span--1{
    
        font-size: 1.5rem;
    }

    .heading__span--2{
       /* border-bottom: .5rem dotted rgb(255, 0, 119);*/
        text-shadow: -2px 2px 2px  red, -3px 5px 5px black;
        font-size: 2rem;
        letter-spacing:.5rem;
        
    }
    
    .heading__span--3{
    font-size: 1.5rem;
    }

    .button{
        
        top:70%;
        left: 50%;
        transform:translate(-50%, -50%);
       
        
    }

    .btn{
        font-size:1.5rem;
    }
    
}

/****************************************ABOUT SECTION***************************************/



.about{
    background-color: rgb(245, 247, 248); 
    height: 125vh;
    position: relative;
    text-align:center;
    
}



h2{
   /* background-color:red;*/
    margin:0 3rem 1rem 3rem;
    display: inline-block;
    font-size:3rem;
    /*padding-top: 7rem;*/
    font-size: 5rem;
   /*animation: all .5s;*/
    transition: scale .6s;
}


h2:hover{
    transform:rotateZ(-4deg);
    text-shadow: 0 0 5px #fff,  0 5px red ;
    scale: 1.5 1.5;

    
}

.about__img{
   /* background-color:green;*/
    display:inline-block;
  
    
}

.about__img--pic{
    margin-top: 1rem;
    border: 1px solid black;
    border-radius:50%;
    height: 20rem;
    width: 20rem;
}

.para{
   /* background-color: yellow;*/
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width:50%;
    margin-top: 10rem;
    font-size: 2.5rem;
    text-align:justify;
   
}

@media only screen and (max-width: 600px){

    .about{

        height: 135vh;  
    }

    .about__img--pic{
        height: 15rem;
        width: 15rem;
      
    }
    
    .para{  font-size: 1.5rem;
        width:80%;
        margin-top:12rem;
        
    }
}

/****************************************PARALLAX SECTION***************************************/

.parallax {
    height: 70vh;
    background-image: url(images/photography-rbsl.jpg);
    background-size: cover;
    background-position: 20% 30%;
    background-attachment: fixed;
    width: 100%;
  
}

/****************************************PORTFOLIO SECTION***************************************/

.portfolio{
    background-color: rgb(245, 247, 248);
    height: 100vh;
    text-align:center;
    
}

@media only screen and (max-width: 600px){
    .portfolio{
        
        height: 850vh;
        
        
    }
}

/*******************PORTFOLIO HEADING*********************/


.portfolio__heading{
    margin:0 3rem 1rem 3rem;
    display: inline-block;
    font-size:3rem;
    /*padding-top: 7rem;*/
    font-size: 5rem;
   /*animation: all .5s;*/
    transition: scale .6s;
}



.portfolio__heading:hover{
    transform:rotateZ(-4deg);
    text-shadow: 0 0 5px #fff,  0 5px red ;
    scale: 1.5 1.5;    
}



.stickMan{
    display:inline-block;
    position: relative;
    padding: 3rem;
   /* background-color: red;*/
   transition: all  .5s;
   animation: dots 5s linear ;
   
}

@keyframes dots{
    0% {
        opacity: 0;
     
        
    }

    50% {
        opacity: 0.5;
     
    }

    100% {
        opacity:1;
     
    }
}

/* https://css-tricks.com/css-animation-tricks/ */

.stickMan:hover{
   
    background-color: rgba(226, 25, 25, 0.712);
    box-shadow: 0 0 10px #fff;
    border-radius: 50%;
}



.eyes{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
    opacity:0;
    background-color: blue;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0, 217, 255);
    top:10%;
    left: 35%;
    width: 20%;
    transition: all .5s;
    padding: 10px;
    margin: 5px;

}


.eyes:hover{
    opacity: 1;
    transform: translateY(-80%);

    
}

.eye1{
    background-color: white;
    border-radius:50%;
    height: 3rem;
    width: 3rem;
    transition: all .5s;
}


.eye2{
  
    
    background-color: white;
    border-radius:50%;
    height: 3rem;
    width: 3rem;
    
}

.eyeball1{
    position:absolute;
    border-radius: 50%;
    top:50%;
    left:25%;
    transform: translateX(-50%);
    
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
   
    transition: all .5s;

}


.eyeball2{
    position:absolute;
    top:50%;
    left:65%;
    
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
}



/*************************************CMS*********************************/

.content__cms{
    font-size: 5rem;
    
    margin:0;
  
    padding:0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px){
    .content__cms{
        font-size: 3rem;
    }
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    /* opacity: .40;  */
    overflow: hidden; }
    .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }



      .portfolio__container{
          padding:0;
      }
.heading__cms{
    font-size: 3rem;
    color:#fff;
    transition: all ease .5s;
    padding: 2%;
    display:inline-block;
    
    

}

.heading__cms:hover{
    text-shadow: 0 0 5px #C91212, 0 0 5px #fff ;
    scale: 1.2 1.5;  
}


/********************************RWD RESPONSIVE WEB DESIGN******************/
.content__rwd{
    margin:0 3rem 1rem 3rem;
  
    font-size: 5rem;
   
}


@media only screen and (max-width: 600px){
    .content__rwd{
        border-radius: 0;
    }
}

.heading__rwd{
    font-size: 3rem;
    display:inline-block;
    text-shadow:  -2px 3px 4px  #fff ;
    color:black;
    transition: all ease .5s;
    padding: 2%;
}

.heading__rwd:hover{
  
    text-shadow: 0 0 5px #fff,  0 5px red ;
    scale: 1.2 1.5;    
}


.portfolio__link--rwd{
    text-decoration: none;
    height: 100%;
    width: 100%;

    
}

.box__img--rwd{
    display: inline-block;
    padding: .8rem;
    margin-top: 2rem;
    height: 25rem;/*30rem;*/
    width: 25rem;/*30rem;*/
   /* border: .2rem solid black;*/
    /*box-shadow: 0 0 1px #777;*/
    border-radius: .2rem 5rem .2rem 5rem;
    /*box-shadow: 0 8px 15px rgb(179, 88, 88);*/
   /* transform: translate(0, .8rem );*/
    transition: all .3s;
    /* background-image:linear-gradient(120deg, rgba(13, 10, 194, 0.438) 0% , rgb(228, 15, 15) 50%,  rgb(199, 16, 16) 50%); */
    background-image:linear-gradient(120deg, #fff 0% ,#fff 50%,  rgb(199, 16, 16) 50%);

    background-size: 400%;
    box-shadow: 0 0 15px rgb(19, 4, 4); /*0 8 15  */

        
}

.box__img--rwd:hover{
    background-position: 100%;
    box-shadow: 0 0 12px rgb(179, 88, 88); /*0 8 15  */
    transform: translate(0, -13px ) rotateZ(-360deg);
    border-radius: 5rem .2rem 5rem .2rem;
    
}
/**************************VANILLA JAVASCRIPT*************************/




.content__vanillaJs{
    background-image:linear-gradient(to left top, rgba(59, 129, 12, 0.986), rgba(233, 217, 231, 0.952));
    padding: 2rem;
    
    width: 100%;
    border-radius: 1%;
  
    box-shadow: 0 0 5px black;
}


@media only screen and (max-width: 600px){
    .content__vanillaJs{
        border-radius: 0;
    }
}

.content__wayback{
    background-image:linear-gradient(to left top, rgba(14, 11, 61, 0.986), rgba(199, 32, 177, 0.952));
    padding: 2rem;
    width: 100%;
    border-radius: 1%;
    box-shadow: 0 0 5px black;
    
}



.portfolio__link{
    text-decoration: none;
    height: 100%;
    width: 100%;

    
}



.box__img{
    display: inline-block;
    padding: .8rem;
    margin-top: 2rem;
    height: 25rem;/*30rem;*/
    width: 25rem;/*30rem;*/
   /* border: .2rem solid black;*/
    /*box-shadow: 0 0 1px #777;*/
    border-radius: .2rem 5rem .2rem 5rem;
    /*box-shadow: 0 8px 15px rgb(179, 88, 88);*/
   /* transform: translate(0, .8rem );*/
    transition: all .3s;
    background-image:linear-gradient(120deg, #fff 0% ,#fff 50%,  rgb(199, 16, 16) 50%);
    background-size: 400%;
        
}

.box__img:hover{
    background-position: 100%;
    box-shadow: 0 0 12px rgb(179, 88, 88); /*0 8 15  */
    transform: translate(0, -13px ) rotateZ(-360deg);
    border-radius: 5rem .2rem 5rem .2rem;
    
}



.box__img2--2{
    display:none;
    height: 0;
    width:0;
}

@media only screen and (max-width: 600px){
    .box__img{
        margin-bottom: .5rem;
        height: 20rem;
        width:30rem;
        border-radius:.5rem;
       
       
    }

    .box__img2--1{
        display:none;
        height:0;
        width: 0;
       
    }
    .box__img2--2{
        display: inline-block;
        height: 20rem;
        width: 30rem;
    
    }
   

}


/* ***************************************TECHNOLOGY SECTION************************************ */
.section__tech{
    text-align: center;
}
.technology{
    background-color: #fff;/* rgb(22, 13, 13);/* rgb(5, 54, 128); */
    text-align: center;
    height: 70vh;
    background-color: black;
    text-shadow: 0 0 1rem black;
    position: relative;

}

.particles__heading{
   text-align: center;
    /* margin:0 3rem 1rem 3rem; */
position:relative;
text-align: center;
    padding: 5% 0;
}

/* .particles{
    background-color: black;
    text-shadow: 0 0 1rem black;
    height: 200vh;
    

} */

#particles-js{
  height: 70vh;
  width: 100%; 
  /*background-color:red;*/
}



.particles__icon--html5   {
    margin-top:0;
     position:absolute; 
     top:15%;
    left:34%;  
    background-image: url(images/html5-rodrigo-bonzerr-lopez-Mark7.svg);
    background-size: cover;
    height: 10rem;
    width: 10rem;

    
}



.particles__icon--css3   {
    
    position:absolute; 
     top:15%;
    left:46%; 
    background-image: url(images/CSS3-rodrigo-bonzerr-lopez-Mark1.svg);
    background-size: cover;
    height: 10rem;
    width: 10rem;
   

    
}


.particles__icon--js   {
 
    position:absolute;
    top:15%;
    left:58%;  
    background-image: url(images/js-rodrigo-bonzerr-lopez-Mark1.svg);
    background-size: cover;
  
    height: 10rem;
    width: 10rem;
    
}


.particles__icon--sass   {
  
   position:absolute;
    top:50%;
    left:34%;  
    background-image: url(images/scss-rodrigo-bonzerr-lopez-Mark1.svg);
    background-size: cover;
   
    height: 10rem;
    width: 10rem;
}


.particles__icon--bootstrap   {
  
    position:absolute;
    top:50%;
    left:46%; 
    background-image: url(images/bootstrap-rodrigo-bonzerr-lopez-Mark1.svg);
    background-size: cover;
  
    height: 10rem;
    width: 10rem;

    
}



.particles__icon--php   {
   
    position:absolute;
    top:50%;
    left:58%;  
    background-image: url(images/php-rodrigo-bonzerr-lopez-mark8.svg);
    background-size: cover;
    height: 10rem;
    width: 10rem;
   

    
}


.particles__icon--mysql   {
    position:absolute;
    top:50%;
    left:65%;
    background-image: url(images/mysql.svg);
    background-size: cover;
    height: 10%;
    width: 10%;
   

    
}






.icon-credit{
    display:inline-block;
    position: absolute;
    color: white;
    top:90%;
    left: 70%;
    
    transform:translate(-50%,-50%);
    text-align:right;
    font-size: 1.5rem;
    text-decoration: none;
}

.icon-credit__link{
    text-decoration: none;
    color:white;
    cursor: pointer;
}


/****************************************SERVICES SECTION***************************************/
.services{
  
    height: 200vh;
    position: relative;
    text-align:center;
    
}

@media only screen and (max-width: 600px){
    .services{
        height: 200vh;
    }
}


/****************************************CARD SERVICES SECTION***************************************/

/******************************HTML 5 FUNDAMENTALS*******************************/

.card__course--1{
    background-color:red;
   
    border-radius:.5rem;/* 5px;*/
    border: 1px solid rgb(129, 97, 97);
    box-shadow: -1rem 1rem 2rem black;
    display: inline-block;
    background-color: white;
    
    margin: 4rem .5rem;
    height: 40rem;
    width: 30rem;
    display: inline-block;
    position: relative;
}

.card__course--heading{
    height: 20%;
}

.card__banner{
   
    position: absolute;
    top: 30%;
    height: 70%;
    width: 100%;

    border-bottom-right-radius:.5rem;
    border-bottom-left-radius:.5rem;
    border: 1px solid black;
    
}

.card__img--1{
    height: 100%;
    width: 100%;
    border-bottom-right-radius:.5rem;
    border-bottom-left-radius:.5rem;
    border: 1px solid black;
}

.card__banner--link{
    height: 100%;
    width: 100%;
}

/******************************SCRATCH CODING FOR KIDS*******************************/


.card__course--2{
    background-color:red;
   
    border-radius:.5rem;
    border: 1px solid rgb(129, 97, 97);
    box-shadow: -1rem 1rem 2rem black;
    display: inline-block;
    background-color: white;
    
    margin: 4rem .5rem;
    height: 40rem;
    width: 30rem;
    display: inline-block;
    position: relative;
}

.card__video{
    position: absolute;
    top: 30%;
    height: 70%;
    width: 100%;

    border-bottom-right-radius:.5rem;
    border-bottom-left-radius:.5rem;
    border: 1px solid black;
}


.card-video__content {
    height: 100%;
    width: 100%;
    object-fit:fill; }






/******************************STICK FIGHTING*******************************/


.card__course--3{
    background-color:red;
   
    border-radius:.5rem;/* 5px;*/
    border: 1px solid rgb(129, 97, 97);
    box-shadow: -1rem 1rem 2rem black;
    display: inline-block;
    background-color: white;
    
    margin: 4rem .5rem;
    height: 40rem;
    width: 30rem;
    display: inline-block;
    position:relative;
}


.card__banner--arnis{
    position: absolute;
    top: 30%;
    height: 70%;
    width: 100%;
}
.card__img--2{
    height: 100%;
    width: 100%;
    border-bottom-right-radius:.5rem;
    border-bottom-left-radius:.5rem;
    border: 1px solid black;
}

.card__banner--link{
    height: 100%;
    width: 100%;
}






/******************************PHOTOGRAPHY*******************************/
.card__photography {
    background-image:url(book1/cid.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: -15rem -1rem;
    border-radius:.5rem;/* 5px;*/
    border: 1px solid rgb(129, 97, 97);
    box-shadow: -1rem 1rem 2rem black;
    display: inline-block;
    background-color:rgb(14, 4, 4);
    background-color:rgb(22, 9, 8);
    margin: 4rem .5rem;
    height: 45rem;
    width: 60rem;
    display: inline-block;
   
}

@media only screen and (max-width: 600px){
    .card__photography{
    height: 20rem;
    width: 30rem;
    margin: 3rem .5rem;
    background-position: -6rem -1rem; 
}

}


.card__page{
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  
  
    
}

    




.card__heading{
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.623);
    font-size: 2.5rem;
    text-align: center;
    color: rgb(253, 253, 253);
    width: 80%;
    text-shadow: 0 0 .5rem black;
    box-shadow: 0 2px .5rem rgb(214, 28, 28);
    

}

@media only screen and (max-width: 600px){

    .card__heading{
        font-size: 1rem;
    }
}


/****************************************FOOTER SECTION***************************************/
footer{
    background-color: rgb(15, 13, 13);
    color:white;
    height: 40vh;
    text-align:left;
    padding:1% 2% 2% 2% ;
   
}

@media only screen and (max-width: 600px){
    footer{
        height: 40vh;
    }
}




@media only screen and (max-width: 600px) {

    footer{
        height: 50vh;
       
    }

  
}

.footer__heading{
    font-size:1.75rem;
    color:white;
}

.footer__list{
    list-style-type:none;
    padding-top: 6%;

}


@media only screen and (max-width: 600px) {
    h4{
        font-size: 1rem;
    }
    .footer__list{
        font-size: 12px;
    }
}




.footer__item{
    translate:all ease-in 5s;
}

.footer__item:hover{
    color: lightblue;

    text-decoration: none;
    transform: translateX(.2rem);
}
.footer__link{
    text-decoration: none;
    cursor: pointer;    
    color:white;
}

.footer__link:hover{
    text-decoration: none;
    color:rgb(19, 131, 196);/* color: rgb(243, 239, 22); */
}

.footer__copyright{
    text-align:center;
    padding-top: 4%;
}

@media only screen and (min-width: 1440px){
    .footer__copyright{
        padding-top: 5%;
    }
}


@media only screen and (max-width: 600px) {
    .footer__copyright{
        font-size: 12px;
        
    }
}